body {
	padding-top: 60px;
	padding-bottom: 40px;
	width:100%;
	height:100%;
}

div.epub {
	text-align : center;
	overflow:hidden;
}

#epubFrame {
	border: solid;
	overflow:hidden;
}

div.pager {
	text-align:center;
}